$color1: #212738;
$color2: #98a5cd;

$background-color: $color1;
$text-color: $color2;

$vertical-spacing: 7.5vh;

@font-face
{
    font-family: "Minecraft Regular";
    src: url("minecraftfont/regular.otf");
}

@font-face
{
    font-family: "Minecraft Bold";
    src: url("minecraftfont/bold.otf");
}

@font-face
{
    font-family: "Minecraft Italic";
    src: url("minecraftfont/italic.otf");
}

@font-face
{
    font-family: "Minecraft Bold Italic";
    src: url("minecraftfont/bolditalic.otf");
}

*
{
    padding: 0;
    margin: 0;
}

html, body
{
    height: 100%;
}

body
{
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10vw;
}

h1
{
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    margin-bottom: $vertical-spacing;
}

h2
{
    font-size: 1.25rem;

    &:not(#previewtext)
    {
        font-weight: 500;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
    }
}

h1, h2
{
    letter-spacing: .1rem;
}

textarea
{
    flex: .5;
    width: 20vw;
    height: 10vh;
}

#container
{
    width: 100%;
    color: $text-color;
    text-align: center;

    & > .row
    {
        width: 100%;
        display: flex;
        align-items: center;
        margin: 2rem 0;

        & > *
        {
            margin: 0 .5rem;
        }

        &:nth-of-type(4)
        {
            margin-top: $vertical-spacing;
        }
    }
}

#copytextarea
{
    flex: 1;
}

#modifiers
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .row
    {
        display: flex;
        align-items: center;
        width: 100%;

        & > *
        {
            margin: 0 .25rem;
        }
    }
}

#previewtext
{
    font-family: "Minecraft Regular",
}
